@import-normalize;

a {
  text-decoration: none;
  color: inherit;
}

.vertical-scrollable-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.horizontal-scrollable-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
