@import-normalize;

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.vertical-scrollable-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
}

.horizontal-scrollable-container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.masonry-container {
  column-count: 3;
}

.masonry-item {
  display: inline-block;
  width: 100%;
  break-inside: avoid;
}
